@model Artikel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Artikel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.IdArtikel)

        <div class="form-group">
            @Html.LabelFor(model => model.Judul, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Judul)
                @Html.ValidationMessageFor(model => model.Judul)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsiArtikel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.IsiArtikel)
                @Html.ValidationMessageFor(model => model.IsiArtikel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThumbnailURL, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ThumbnailURL)
                @Html.ValidationMessageFor(model => model.ThumbnailURL)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
